<div class="progress" id="progress-div-style">
    <div class="progress-bar bg-warning progress-bar-striped progress-bar-animated" id="progress-style" role="progressbar" aria-valuenow="{{data.progress}}" aria-valuemin="0" aria-valuemax="100"></div>
</div>