{{#if error}}
    <div class="alert alert-danger" role="alert">
        Attenzione! Il video di sintesi supera la durata massima di 5 minuti.
        Modificare i match in modo da ridurre la durata totale.
    </div>
{{/if}}