<div class="progress" id="progress-div-style">
    <div class="progress-bar bg-warning progress-bar-striped progress-bar-animated" id="loadingProgressBar"
        role="progressbar" aria-valuenow="{{progression}}"
        aria-valuemin="0" aria-valuemax="100"
        {{#if progression}}
            style="width: {{progression}}%"
        {{/if}}>
    </div>
</div>