{{> errorMessage}}
<table class="table table-striped table-sm">
    <thead>
    <tr>
        <th scope="col">Seleziona</th>
        <th scope="col">Inizio</th>
        <th scope="col">Fine</th>
        <th scope="col">Etichetta</th>
        <th scope="col">Identificato da:</th>
    </tr>
    </thead>
    <tbody>
    {{#each files}}
        {{> rowTemplate start=start end=end label=label who=who}}
    {{/each}}
        <tr>
        <td><input id="col1row2" type="checkbox" name="col1row1" checked="checked"/></td>
        <td><input id="col2row2" type="text" name="col2row1" readonly="readonly" value="00:05:12.123"/></td>
        <td><input id="col3row2" type="text" name="col3row1" readonly="readonly" value="00:05.30.934"/></td>
        <td>
            <select id="col4row2" disabled="readonly">
                <option value="" disabled="disabled">Etichette disponibili</option>
                <option value="1">Goal</option>
                <option value="2">Falso Goal</option>
                <option value="3">Cartellino rosso</option>
                <option value="4">Falso cartellino rosso</option>
                <option value="5" selected="selected">Cartellino giallo</option>
                <option value="6">Falso cartellino giallo</option>
                <option value="7">Cambio</option>
                <option value="8">Falso cambio</option>
                <option value="9">etc...</option>
            </select>
        </td>
        <td>IA</td>
    </tr>
    <tr>
        <td><input id="col1row3" type="checkbox" name="col1row1" checked="checked"/></td>
        <td><input id="col2row3" type="text" name="col2row1" readonly="readonly" value="00:10:11.123"/></td>
        <td><input id="col3row3" type="text" name="col3row1" readonly="readonly" value="00:11:01.934"/></td>
        <td>
            <select id="col4row3" disabled="readonly">
                <option value="" disabled="disabled">Etichette disponibili</option>
                <option value="1">Goal</option>
                <option value="2">Falso Goal</option>
                <option value="3" selected="selected">Cartellino rosso</option>
                <option value="4">Falso cartellino rosso</option>
                <option value="5">Cartellino giallo</option>
                <option value="6">Falso cartellino giallo</option>
                <option value="7">Cambio</option>
                <option value="8">Falso cambio</option>
                <option value="9">etc...</option>
            </select>
        </td>
        <td>IA</td>
    </tr>
    <tr>
        <td><input id="col1row4" type="checkbox" name="col1row1"/></td>
        <td><input id="col2row4" type="text" name="col2row1" readonly="readonly"/></td>
        <td><input id="col3row4" type="text" name="col3row1" readonly="readonly"/></td>
        <td>
            <select id="col4row4">
                <option value="" disabled="disabled">Etichette disponibili</option>
                <option value="1" selected="selected">Goal</option>
                <option value="2">Falso Goal</option>
                <option value="3">Cartellino rosso</option>
                <option value="4">Falso cartellino rosso</option>
                <option value="5">Cartellino giallo</option>
                <option value="6">Falso cartellino giallo</option>
                <option value="7">Cambio</option>
                <option value="8">Falso cambio</option>
                <option value="9">etc...</option>
            </select>
        </td>
        <td>Umano</td>
    </tr>
    <tr>
        <td class="addElementRow" colspan="6">
            <!--Qui parte JavaScript che mi aggiunge una riga della tabella-->
            <!--input hidden che serve ad indicarmi da dove numerare le nuove righe della tabella con id e name diversi-->
            <input id="addRowHi" name="addRow" type="hidden" value="row5"/>
            <button id="addRow" type="button" class="btn btn-warning btn-sm">
                <svg class="bi bi-plus-circle" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor">
                    <path fill-rule="evenodd" d="M8 3.5a.5.5 0 01.5.5v4a.5.5 0 01-.5.5H4a.5.5 0 010-1h3.5V4a.5.5 0 01.5-.5z" clip-rule="evenodd"/>
                    <path fill-rule="evenodd" d="M7.5 8a.5.5 0 01.5-.5h4a.5.5 0 010 1H8.5V12a.5.5 0 01-1 0V8z" clip-rule="evenodd"/>
                    <path fill-rule="evenodd" d="M8 15A7 7 0 108 1a7 7 0 000 14zm0 1A8 8 0 108 0a8 8 0 000 16z" clip-rule="evenodd"/>
                </svg>
                Aggiungi Riga
            </button>
        </td>
    </tr>
    </tbody>
</table>