<tr>
    <td>
        <input type="checkbox" {{#if checked}}checked="checked()"{{/if}}/>
    </td>
    <td>
        <input type="text" readonly="readonly" value="{{start}}"/>
    </td>
    <td>
        <input type="text" readonly="readonly" value="{{end}}"/></td>
    <td>
        <select id="col4row1">
            {{#each labels}}
                <option value="{{@index}}"
                {{#if @index==modelIndex}}
                    selected="selected()"
                {{/if}}
                >
                {{this}}
                </option>
            {{/each}}
        </select>
    </td>
    <td>
        <input type="checkbox" {{#if autonomous}}checked="checked()"{{/if}}/>
    </td>
</tr>