<tr>
    <td><input id="col1row1" type="checkbox" name="col1row1" checked="checked"/></td>
    <td><input id="col2row1" type="text" name="col2row1" readonly="readonly" value="{{start}}"/></td>
    <td><input id="col3row1" type="text" name="col3row1" readonly="readonly" value="{{end}}"/></td>
    <td>
        <select id="col4row1" disabled="readonly">
            <option value="" disabled="disabled">Etichette disponibili</option>
            <option value="1" selected="selected">Goal</option>
            <option value="2">Falso Goal</option>
            <option value="3">Cartellino rosso</option>
            <option value="4">Falso cartellino rosso</option>
            <option value="5">Cartellino giallo</option>
            <option value="6">Falso cartellino giallo</option>
            <option value="7">Cambio</option>
            <option value="8">Falso cambio</option>
        </select>
    </td>
    <td>{{who}}</td>
</tr>