<tr>
    <td>
        <input type="checkbox" {{#if show}}checked="checked()"{{/if}}/>
    </td>
    <td>
        <input type="text" readonly="readonly" value="{{start}}"/>
    </td>
    <td>
        <input type="text" readonly="readonly" value="{{tfs}}"/></td>
    <td>
        <select id="col4row1">
            {{#each labelList}}
                <option value="{{@index}}"
                {{#eq @index ../label}}
                    selected="selected()"
                {{/eq}}
                >
                {{this}}
                </option>
            {{/each}}
        </select>
    </td>
    <td>
        <input type="checkbox" {{#eq type "machine"}}checked="checked()"{{/eq}}/>
    </td>
</tr>
