<div class="col-md-4">
    <div class="card mb-4 shadow-sm">
        <img src="{{thumbnailURL}}" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail" title="Descrizione immagine"></img>
        <div class="card-body">
            <p>{{fileKey}}</p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Scarica</button>
                    <button id="start" type="button" class="btn btn-sm btn-outline-secondary">Elabora</button>
                </div>
            </div>
        </div>
    </div>
</div>