<div class="divVideo">
    <!--<video width="320" height="240" controls>
    <source src="$METTERELINK$" type="video/mp4"/>
    <source/>
    Il browser non supporta il tag video
    </video>--> <!--Questo TAG non va bene perchè il video deve essere caricato da dentro al server, il nostro video risiederà su S3 quindi non ho idea se può essere preso-->
    <!--QUI ANDRÀ cambiato la src e messo la src di S3 dove si trova il video originale-->
    <iframe id="videoLabel" src="{{endpoint}}"></iframe>
    <!--<form action="#" method="post" enctype="multipart/form-data">
      <fieldset>
        <legend>Selezione video</legend>
          <label for="video"></label>
          <!--Cambiare video da originale a elaborato con il bottone, userò Javascript per indicare le tabelle
          <select id="video" title="Scegli video" tabindex="" name="">
            <option value="" disabled="disabled">Seleziona video:</option>
            <option value="1" onclick="FUNZIONEJAVASCRIPTVIDEOORIGINALE">Video originale</option>
            <option value="0" onclick="FUNZIONEJAVASCRIPTVIDEOELABORATO">Video elaborato</option>
          </select>
      </fieldset>
    </form>-->
    <div id="bar-width" class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Tipo di video</label>
        </div>
        <select class="custom-select" id="inputGroupSelect01">
            <option value="elaborate">Elaborato</option>
            <option value="original">Originale</option>
        </select>
    </div>
</div>