<!DOCTYPE html>
<html lang="it" id="home">
  <head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="Pagina di visualizzazione e modifica del video degli Highlights">
		<title>Results - Highligths</title>
		<!-- Bootstrap core CSS -->
		<link href="./css/bootstrap.min.css" rel="stylesheet"/>
		<!-- Custom styles for this page -->
    <link rel="stylesheet" href="./css/style.css"/>
      <!-- js script includes -->
      <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
      <script src="/socket.io/socket.io.js"></script>
      <script src="./javascript/serverListener.js"></script>
    <title>Autonomous Highliths</title>
  </head>

  <body>
    <header>
      <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container d-flex justify-content-between">
          <strong class="navbar-brand d-flex align-items-center">Autonomous Highlights</strong>
        </div>
      </div>
    </header>
    <div class="container1">
      <a class="btn btn-secondary btn-sm backButton" alt="Link torna indietro" id="backLink">
		<svg class="bi bi-arrow-90deg-left" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
		  <path fill-rule="evenodd" d="M6.104 2.396a.5.5 0 010 .708L3.457 5.75l2.647 2.646a.5.5 0 11-.708.708l-3-3a.5.5 0 010-.708l3-3a.5.5 0 01.708 0z" clip-rule="evenodd"/>
		  <path fill-rule="evenodd" d="M2.75 5.75a.5.5 0 01.5-.5h6.5a2.5 2.5 0 012.5 2.5v5.5a.5.5 0 01-1 0v-5.5a1.5 1.5 0 00-1.5-1.5h-6.5a.5.5 0 01-.5-.5z" clip-rule="evenodd"/>
		</svg>
		Torna indietro
	  </a>

      <div class="divVideo">
        <!--<video width="320" height="240" controls>
        <source src="$METTERELINK$" type="video/mp4"/>
        <source/>
        Il browser non supporta il tag video
        </video>--> <!--Questo TAG non va bene perchè il video deve essere caricato da dentro al server, il nostro video risiederà su S3 quindi non ho idea se può essere preso-->
        <!--QUI ANDRÀ cambiato la src e messo la src di S3 dove si trova il video originale-->
        <iframe id="videoLabel" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
        <!--<form action="#" method="post" enctype="multipart/form-data">
          <fieldset>
            <legend>Selezione video</legend>
              <label for="video"></label>
              <!--Cambiare video da originale a elaborato con il bottone, userò Javascript per indicare le tabelle
              <select id="video" title="Scegli video" tabindex="" name="">
                <option value="" disabled="disabled">Seleziona video:</option>
                <option value="1" onclick="FUNZIONEJAVASCRIPTVIDEOORIGINALE">Video originale</option>
                <option value="0" onclick="FUNZIONEJAVASCRIPTVIDEOELABORATO">Video elaborato</option>
              </select>
          </fieldset>
        </form>-->
        <div id="bar-width" class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Tipo di video</label>
          </div>
          <select class="custom-select" id="inputGroupSelect01">
            <option value="elaborate">Elaborato</option>
            <option value="original">Originale</option>
          </select>
        </div>
      </div>

	  <div class="alert alert-danger" role="alert">
		Attenzione! Il video di sintesi supera la durata massima di 5 minuti. Modificare i match in modo da ridurre la durata totale.
	  </div>

	  <div id="divTable" class="table-responsive">
		<form>
			<fieldset>
				<legend>Tabella</legend>
				<table class="table table-striped table-sm">
					<thead>
						<tr>
							<th scope="col">Seleziona</th>
							<th scope="col">Inizio</th>
							<th scope="col">Fine</th>
							<th scope="col">Etichetta</th>
							<th scope="col">Identificato da:</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><input id="col1row1" type="checkbox" name="col1row1" checked="checked"/></td>
							<td><input id="col2row1" type="text" name="col2row1" readonly="readonly" value="00:04:30.123"/></td>
							<td><input id="col3row1" type="text" name="col3row1" readonly="readonly" value="00:04:59.934"/></td>
							<td>
								<select id="col4row1" disabled="readonly">
									<option value="" disabled="disabled">Etichette disponibili</option>
									<option value="1" selected="selected">Goal</option>
									<option value="2">Falso Goal</option>
									<option value="3">Cartellino rosso</option>
									<option value="4">Falso cartellino rosso</option>
									<option value="5">Cartellino giallo</option>
									<option value="6">Falso cartellino giallo</option>
									<option value="7">Cambio</option>
									<option value="8">Falso cambio</option>
									<option value="9">etc...</option>
								</select>
							</td>
							<td>IA</td>
						</tr>
						<tr>
							<td><input id="col1row2" type="checkbox" name="col1row1" checked="checked"/></td>
							<td><input id="col2row2" type="text" name="col2row1" readonly="readonly" value="00:05:12.123"/></td>
							<td><input id="col3row2" type="text" name="col3row1" readonly="readonly" value="00:05.30.934"/></td>
							<td>
								<select id="col4row2" disabled="readonly">
									<option value="" disabled="disabled">Etichette disponibili</option>
									<option value="1">Goal</option>
									<option value="2">Falso Goal</option>
									<option value="3">Cartellino rosso</option>
									<option value="4">Falso cartellino rosso</option>
									<option value="5" selected="selected">Cartellino giallo</option>
									<option value="6">Falso cartellino giallo</option>
									<option value="7">Cambio</option>
									<option value="8">Falso cambio</option>
									<option value="9">etc...</option>
								</select>
							</td>
							<td>IA</td>
						</tr>
						<tr>
							<td><input id="col1row3" type="checkbox" name="col1row1" checked="checked"/></td>
							<td><input id="col2row3" type="text" name="col2row1" readonly="readonly" value="00:10:11.123"/></td>
							<td><input id="col3row3" type="text" name="col3row1" readonly="readonly" value="00:11:01.934"/></td>
							<td>
								<select id="col4row3" disabled="readonly">
									<option value="" disabled="disabled">Etichette disponibili</option>
									<option value="1">Goal</option>
									<option value="2">Falso Goal</option>
									<option value="3" selected="selected">Cartellino rosso</option>
									<option value="4">Falso cartellino rosso</option>
									<option value="5">Cartellino giallo</option>
									<option value="6">Falso cartellino giallo</option>
									<option value="7">Cambio</option>
									<option value="8">Falso cambio</option>
									<option value="9">etc...</option>
								</select>
							</td>
							<td>IA</td>
						</tr>
						<tr>
							<td><input id="col1row4" type="checkbox" name="col1row1"/></td>
							<td><input id="col2row4" type="text" name="col2row1" readonly="readonly"/></td>
							<td><input id="col3row4" type="text" name="col3row1" readonly="readonly"/></td>
							<td>
								<select id="col4row4">
									<option value="" disabled="disabled">Etichette disponibili</option>
									<option value="1" selected="selected">Goal</option>
									<option value="2">Falso Goal</option>
									<option value="3">Cartellino rosso</option>
									<option value="4">Falso cartellino rosso</option>
									<option value="5">Cartellino giallo</option>
									<option value="6">Falso cartellino giallo</option>
									<option value="7">Cambio</option>
									<option value="8">Falso cambio</option>
									<option value="9">etc...</option>
								</select>
							</td>
							<td>Umano</td>
						</tr>
						<tr>
							<td class="addElementRow" colspan="6">
								<!--Qui parte JavaScript che mi aggiunge una riga della tabella-->
								<!--input hidden che serve ad indicarmi da dove numerare le nuove righe della tabella con id e name diversi-->
								<input id="addRowHi" name="addRow" type="hidden" value="row5"/>
								<button id="addRow" type="button" class="btn btn-warning btn-sm">
									<svg class="bi bi-plus-circle" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor">
									  <path fill-rule="evenodd" d="M8 3.5a.5.5 0 01.5.5v4a.5.5 0 01-.5.5H4a.5.5 0 010-1h3.5V4a.5.5 0 01.5-.5z" clip-rule="evenodd"/>
									  <path fill-rule="evenodd" d="M7.5 8a.5.5 0 01.5-.5h4a.5.5 0 010 1H8.5V12a.5.5 0 01-1 0V8z" clip-rule="evenodd"/>
									  <path fill-rule="evenodd" d="M8 15A7 7 0 108 1a7 7 0 000 14zm0 1A8 8 0 108 0a8 8 0 000 16z" clip-rule="evenodd"/>
									</svg>
									Aggiungi Riga
								</button>
							</td>
						</tr>
				  </tbody>
				</table>
				<!-- Bottone che appare non appena una persona inserisce un nuovo campo nella tabella, da fare il CSS -->
				<button id="confirm" type="button" class="button-right btn btn-warning">
					<svg class="bi bi-check" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 010 .708l-7 7a.5.5 0 01-.708 0l-3.5-3.5a.5.5 0 11.708-.708L6.5 10.293l6.646-6.647a.5.5 0 01.708 0z" clip-rule="evenodd"/>
					</svg>
					Conferma video
				</button>
				<button type="button" id="tableReset" class="button-right btn btn-warning">
					<svg class="bi bi-trash-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" d="M2.5 1a1 1 0 00-1 1v1a1 1 0 001 1H3v9a2 2 0 002 2h6a2 2 0 002-2V4h.5a1 1 0 001-1V2a1 1 0 00-1-1H10a1 1 0 00-1-1H7a1 1 0 00-1 1H2.5zm3 4a.5.5 0 01.5.5v7a.5.5 0 01-1 0v-7a.5.5 0 01.5-.5zM8 5a.5.5 0 01.5.5v7a.5.5 0 01-1 0v-7A.5.5 0 018 5zm3 .5a.5.5 0 00-1 0v7a.5.5 0 001 0v-7z" clip-rule="evenodd"/>
					</svg>
					Annulla modifiche
				</button>
			</fieldset>
        </form>
      </div>
    </div>
    <footer class="bg-dark">
      <div class="container">
        <p class="float-right">
          <a href="#">Torna su</a>
        </p>
        <p>Progetto di ingegneria del software 2019/2020 del gruppo TheCherockyProject.</p>
      </div>
    </footer>
  </body>
</html>
