<!DOCTYPE html>
<html lang="it" id="home">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Pagina principale per poter caricare ed elaborare video di highligths di partite di calcio">
    <title>Autonomous HighLights Platform</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <!-- Bootstrap core CSS -->
    <link href="./css/bootstrap.min.css" rel="stylesheet"/>
    <!-- Custom styles for this page -->
    <link href="./css/style.css" rel="stylesheet"/>
    <!-- js script includes -->
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="./javascript/serverListener.js"></script>
</head>
<body>
    <header>
        <div class="navbar navbar-dark bg-dark shadow-sm">
            <div class="container d-flex justify-content-between">
                <strong class="navbar-brand d-flex align-items-center">Autonomous Highlights</strong>
            </div>
        </div>
    </header>
    {{{body}}}
    <footer class="bg-dark">
        <div class="container">
            <p class="float-right">
                <a href="#">Torna su</a>
            </p>
            <p>Progetto di ingegneria del software 2019/2020 del gruppo TheCherockyProject.</p>
        </div>
    </footer>
</body>
</html>
